<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.erp.liaoshuanchen.dao.CurrencyLscMapper" >
  <resultMap id="BaseResultMap" type="com.example.erp.liaoshuanchen.pojo.CurrencyLsc" >
    <id column="currencyNo" property="currencyno" jdbcType="VARCHAR" />
    <result column="currencyName" property="currencyname" jdbcType="VARCHAR" />
    <result column="currencyName2" property="currencyname2" jdbcType="VARCHAR" />
    <result column="englishName" property="englishname" jdbcType="VARCHAR" />
    <result column="transactionDate" property="transactiondate" jdbcType="DATE" />
    <result column="fixedExchangeRate" property="fixedexchangerate" jdbcType="REAL" />
    <result column="buyingExchange" property="buyingexchange" jdbcType="REAL" />
    <result column="sellingRates" property="sellingrates" jdbcType="REAL" />
    <result column="pricePost" property="pricepost" jdbcType="INTEGER" />
    <result column="thousandComma1" property="thousandcomma1" jdbcType="VARCHAR" />
    <result column="figurePost" property="figurepost" jdbcType="INTEGER" />
    <result column="thousandComma2" property="thousandcomma2" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from currency_lsc
    where currencyNo = #{currencyno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.erp.liaoshuanchen.pojo.CurrencyLsc" useGeneratedKeys="true" keyProperty="currencyno" >
    insert into currency_lsc (currencyName, currencyName2, englishName, 
      transactionDate, fixedExchangeRate, buyingExchange, 
      sellingRates, pricePost, thousandComma1, 
      figurePost, thousandComma2)
    values (#{currencyname,jdbcType=VARCHAR}, #{currencyname2,jdbcType=VARCHAR}, #{englishname,jdbcType=VARCHAR}, 
      #{transactiondate,jdbcType=DATE}, #{fixedexchangerate,jdbcType=REAL}, #{buyingexchange,jdbcType=REAL}, 
      #{sellingrates,jdbcType=REAL}, #{pricepost,jdbcType=INTEGER}, #{thousandcomma1,jdbcType=VARCHAR}, 
      #{figurepost,jdbcType=INTEGER}, #{thousandcomma2,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.erp.liaoshuanchen.pojo.CurrencyLsc" >
    update currency_lsc
    set currencyName = #{currencyname,jdbcType=VARCHAR},
      currencyName2 = #{currencyname2,jdbcType=VARCHAR},
      englishName = #{englishname,jdbcType=VARCHAR},
      transactionDate = #{transactiondate,jdbcType=DATE},
      fixedExchangeRate = #{fixedexchangerate,jdbcType=REAL},
      buyingExchange = #{buyingexchange,jdbcType=REAL},
      sellingRates = #{sellingrates,jdbcType=REAL},
      pricePost = #{pricepost,jdbcType=INTEGER},
      thousandComma1 = #{thousandcomma1,jdbcType=VARCHAR},
      figurePost = #{figurepost,jdbcType=INTEGER},
      thousandComma2 = #{thousandcomma2,jdbcType=VARCHAR}
    where currencyNo = #{currencyno,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select currencyNo, currencyName, currencyName2, englishName, transactionDate, fixedExchangeRate, 
    buyingExchange, sellingRates, pricePost, thousandComma1, figurePost, thousandComma2
    from currency_lsc
    where currencyNo = #{currencyno,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select currencyNo, currencyName, currencyName2, englishName, transactionDate, fixedExchangeRate, 
    buyingExchange, sellingRates, pricePost, thousandComma1, figurePost, thousandComma2
    from currency_lsc
  </select>
</mapper>