<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.erp.liaoshuanchen.dao.Dsdscust1Mapper" >
  <resultMap id="BaseResultMap" type="com.example.erp.liaoshuanchen.pojo.Dsdscust1" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="fundsattribution" property="fundsattribution" jdbcType="VARCHAR" />
    <result column="fullname" property="fullname" jdbcType="VARCHAR" />
    <result column="classid" property="classid" jdbcType="VARCHAR" />
    <result column="classname" property="classname" jdbcType="VARCHAR" />
    <result column="areaid" property="areaid" jdbcType="VARCHAR" />
    <result column="areaname" property="areaname" jdbcType="VARCHAR" />
    <result column="currencyid" property="currencyid" jdbcType="VARCHAR" />
    <result column="currencyname" property="currencyname" jdbcType="VARCHAR" />
    <result column="currencyrate" property="currencyrate" jdbcType="VARCHAR" />
    <result column="currencyshortname" property="currencyshortname" jdbcType="VARCHAR" />
    <result column="isforeign" property="isforeign" jdbcType="VARCHAR" />
    <result column="shortname" property="shortname" jdbcType="VARCHAR" />
    <result column="taxno" property="taxno" jdbcType="VARCHAR" />
    <result column="chiefname" property="chiefname" jdbcType="VARCHAR" />
    <result column="capitailzation" property="capitailzation" jdbcType="VARCHAR" />
    <result column="linkman" property="linkman" jdbcType="VARCHAR" />
    <result column="telephone1" property="telephone1" jdbcType="VARCHAR" />
    <result column="telephone2" property="telephone2" jdbcType="VARCHAR" />
    <result column="telephone3" property="telephone3" jdbcType="VARCHAR" />
    <result column="mobiletel" property="mobiletel" jdbcType="VARCHAR" />
    <result column="faxno" property="faxno" jdbcType="VARCHAR" />
    <result column="industarialclass" property="industarialclass" jdbcType="VARCHAR" />
    <result column="personid" property="personid" jdbcType="VARCHAR" />
    <result column="personname" property="personname" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="webaddress" property="webaddress" jdbcType="VARCHAR" />
    <result column="servername" property="servername" jdbcType="VARCHAR" />
    <result column="priceoftax" property="priceoftax" jdbcType="VARCHAR" />
    <result column="gatherother" property="gatherother" jdbcType="VARCHAR" />
    <result column="transnewid" property="transnewid" jdbcType="VARCHAR" />
    <result column="lastvisitdate" property="lastvisitdate" jdbcType="DATE" />
    <result column="bookvisitdate" property="bookvisitdate" jdbcType="DATE" />
    <result column="buildupdate" property="buildupdate" jdbcType="DATE" />
    <result column="invotypeid" property="invotypeid" jdbcType="VARCHAR" />
    <result column="invotypename" property="invotypename" jdbcType="VARCHAR" />
    <result column="engfullname" property="engfullname" jdbcType="VARCHAR" />
    <result column="engshortname" property="engshortname" jdbcType="VARCHAR" />
    <result column="acccommi" property="acccommi" jdbcType="VARCHAR" />
    <result column="acccomminame" property="acccomminame" jdbcType="VARCHAR" />
    <result column="acccommipaied" property="acccommipaied" jdbcType="VARCHAR" />
    <result column="acccommipaiedname" property="acccommipaiedname" jdbcType="VARCHAR" />
    <result column="invzipcode" property="invzipcode" jdbcType="VARCHAR" />
    <result column="invaddress" property="invaddress" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="pricerank" property="pricerank" jdbcType="VARCHAR" />
    <result column="rateofdiscount" property="rateofdiscount" jdbcType="VARCHAR" />
    <result column="Addfield1" property="addfield1" jdbcType="VARCHAR" />
    <result column="Addfield2" property="addfield2" jdbcType="VARCHAR" />
    <result column="earliesttraddate" property="earliesttraddate" jdbcType="DATE" />
    <result column="firsttradedate" property="firsttradedate" jdbcType="DATE" />
    <result column="latelytradedate" property="latelytradedate" jdbcType="DATE" />
    <result column="latelyreturndate" property="latelyreturndate" jdbcType="DATE" />
    <result column="accreceivable" property="accreceivable" jdbcType="VARCHAR" />
    <result column="accreceivablename" property="accreceivablename" jdbcType="VARCHAR" />
    <result column="accadvrecv" property="accadvrecv" jdbcType="VARCHAR" />
    <result column="accadvrecvname" property="accadvrecvname" jdbcType="VARCHAR" />
    <result column="bankaccount" property="bankaccount" jdbcType="VARCHAR" />
    <result column="bankid" property="bankid" jdbcType="VARCHAR" />
    <result column="bankname" property="bankname" jdbcType="VARCHAR" />
    <result column="creditlevel" property="creditlevel" jdbcType="VARCHAR" />
    <result column="amountquota" property="amountquota" jdbcType="VARCHAR" />
    <result column="recvway" property="recvway" jdbcType="VARCHAR" />
    <result column="distdays" property="distdays" jdbcType="VARCHAR" />
    <result column="dayofclose" property="dayofclose" jdbcType="DATE" />
    <result column="term" property="term" jdbcType="VARCHAR" />
    <result column="invaliddate" property="invaliddate" jdbcType="DATE" />
    <result column="termarea" property="termarea" jdbcType="VARCHAR" />
    <result column="payment" property="payment" jdbcType="VARCHAR" />
    <result column="shipment" property="shipment" jdbcType="VARCHAR" />
    <result column="insurance" property="insurance" jdbcType="VARCHAR" />
    <result column="agentid" property="agentid" jdbcType="VARCHAR" />
    <result column="agentname" property="agentname" jdbcType="VARCHAR" />
    <result column="areafreightid" property="areafreightid" jdbcType="VARCHAR" />
    <result column="areafreighname" property="areafreighname" jdbcType="VARCHAR" />
    <result column="comefrom" property="comefrom" jdbcType="VARCHAR" />
    <result column="wentto" property="wentto" jdbcType="VARCHAR" />
    <result column="startadvrecv" property="startadvrecv" jdbcType="VARCHAR" />
    <result column="startreceivable" property="startreceivable" jdbcType="VARCHAR" />
    <result column="curadvrecv" property="curadvrecv" jdbcType="VARCHAR" />
    <result column="curreceivable" property="curreceivable" jdbcType="VARCHAR" />
    <result column="remainquota" property="remainquota" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from dsdscust1
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.erp.liaoshuanchen.pojo.Dsdscust1" useGeneratedKeys="true" keyProperty="id" >
    insert into dsdscust1 (fundsattribution, fullname, classid, 
      classname, areaid, areaname, 
      currencyid, currencyname, currencyrate, 
      currencyshortname, isforeign, shortname, 
      taxno, chiefname, capitailzation, 
      linkman, telephone1, telephone2, 
      telephone3, mobiletel, faxno, 
      industarialclass, personid, personname, 
      email, webaddress, servername, 
      priceoftax, gatherother, transnewid, 
      lastvisitdate, bookvisitdate, buildupdate, 
      invotypeid, invotypename, engfullname, 
      engshortname, acccommi, acccomminame, 
      acccommipaied, acccommipaiedname, invzipcode, 
      invaddress, memo, pricerank, 
      rateofdiscount, Addfield1, Addfield2, 
      earliesttraddate, firsttradedate, latelytradedate, 
      latelyreturndate, accreceivable, accreceivablename, 
      accadvrecv, accadvrecvname, bankaccount, 
      bankid, bankname, creditlevel, 
      amountquota, recvway, distdays, 
      dayofclose, term, invaliddate, 
      termarea, payment, shipment, 
      insurance, agentid, agentname, 
      areafreightid, areafreighname, comefrom, 
      wentto, startadvrecv, startreceivable, 
      curadvrecv, curreceivable, remainquota
      )
    values (#{fundsattribution,jdbcType=VARCHAR}, #{fullname,jdbcType=VARCHAR}, #{classid,jdbcType=VARCHAR}, 
      #{classname,jdbcType=VARCHAR}, #{areaid,jdbcType=VARCHAR}, #{areaname,jdbcType=VARCHAR}, 
      #{currencyid,jdbcType=VARCHAR}, #{currencyname,jdbcType=VARCHAR}, #{currencyrate,jdbcType=VARCHAR}, 
      #{currencyshortname,jdbcType=VARCHAR}, #{isforeign,jdbcType=VARCHAR}, #{shortname,jdbcType=VARCHAR}, 
      #{taxno,jdbcType=VARCHAR}, #{chiefname,jdbcType=VARCHAR}, #{capitailzation,jdbcType=VARCHAR}, 
      #{linkman,jdbcType=VARCHAR}, #{telephone1,jdbcType=VARCHAR}, #{telephone2,jdbcType=VARCHAR}, 
      #{telephone3,jdbcType=VARCHAR}, #{mobiletel,jdbcType=VARCHAR}, #{faxno,jdbcType=VARCHAR}, 
      #{industarialclass,jdbcType=VARCHAR}, #{personid,jdbcType=VARCHAR}, #{personname,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{webaddress,jdbcType=VARCHAR}, #{servername,jdbcType=VARCHAR}, 
      #{priceoftax,jdbcType=VARCHAR}, #{gatherother,jdbcType=VARCHAR}, #{transnewid,jdbcType=VARCHAR}, 
      #{lastvisitdate,jdbcType=DATE}, #{bookvisitdate,jdbcType=DATE}, #{buildupdate,jdbcType=DATE}, 
      #{invotypeid,jdbcType=VARCHAR}, #{invotypename,jdbcType=VARCHAR}, #{engfullname,jdbcType=VARCHAR}, 
      #{engshortname,jdbcType=VARCHAR}, #{acccommi,jdbcType=VARCHAR}, #{acccomminame,jdbcType=VARCHAR}, 
      #{acccommipaied,jdbcType=VARCHAR}, #{acccommipaiedname,jdbcType=VARCHAR}, #{invzipcode,jdbcType=VARCHAR}, 
      #{invaddress,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, #{pricerank,jdbcType=VARCHAR}, 
      #{rateofdiscount,jdbcType=VARCHAR}, #{addfield1,jdbcType=VARCHAR}, #{addfield2,jdbcType=VARCHAR}, 
      #{earliesttraddate,jdbcType=DATE}, #{firsttradedate,jdbcType=DATE}, #{latelytradedate,jdbcType=DATE}, 
      #{latelyreturndate,jdbcType=DATE}, #{accreceivable,jdbcType=VARCHAR}, #{accreceivablename,jdbcType=VARCHAR}, 
      #{accadvrecv,jdbcType=VARCHAR}, #{accadvrecvname,jdbcType=VARCHAR}, #{bankaccount,jdbcType=VARCHAR}, 
      #{bankid,jdbcType=VARCHAR}, #{bankname,jdbcType=VARCHAR}, #{creditlevel,jdbcType=VARCHAR}, 
      #{amountquota,jdbcType=VARCHAR}, #{recvway,jdbcType=VARCHAR}, #{distdays,jdbcType=VARCHAR}, 
      #{dayofclose,jdbcType=DATE}, #{term,jdbcType=VARCHAR}, #{invaliddate,jdbcType=DATE}, 
      #{termarea,jdbcType=VARCHAR}, #{payment,jdbcType=VARCHAR}, #{shipment,jdbcType=VARCHAR}, 
      #{insurance,jdbcType=VARCHAR}, #{agentid,jdbcType=VARCHAR}, #{agentname,jdbcType=VARCHAR}, 
      #{areafreightid,jdbcType=VARCHAR}, #{areafreighname,jdbcType=VARCHAR}, #{comefrom,jdbcType=VARCHAR}, 
      #{wentto,jdbcType=VARCHAR}, #{startadvrecv,jdbcType=VARCHAR}, #{startreceivable,jdbcType=VARCHAR}, 
      #{curadvrecv,jdbcType=VARCHAR}, #{curreceivable,jdbcType=VARCHAR}, #{remainquota,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.erp.liaoshuanchen.pojo.Dsdscust1" >
    update dsdscust1
    set fundsattribution = #{fundsattribution,jdbcType=VARCHAR},
      fullname = #{fullname,jdbcType=VARCHAR},
      classid = #{classid,jdbcType=VARCHAR},
      classname = #{classname,jdbcType=VARCHAR},
      areaid = #{areaid,jdbcType=VARCHAR},
      areaname = #{areaname,jdbcType=VARCHAR},
      currencyid = #{currencyid,jdbcType=VARCHAR},
      currencyname = #{currencyname,jdbcType=VARCHAR},
      currencyrate = #{currencyrate,jdbcType=VARCHAR},
      currencyshortname = #{currencyshortname,jdbcType=VARCHAR},
      isforeign = #{isforeign,jdbcType=VARCHAR},
      shortname = #{shortname,jdbcType=VARCHAR},
      taxno = #{taxno,jdbcType=VARCHAR},
      chiefname = #{chiefname,jdbcType=VARCHAR},
      capitailzation = #{capitailzation,jdbcType=VARCHAR},
      linkman = #{linkman,jdbcType=VARCHAR},
      telephone1 = #{telephone1,jdbcType=VARCHAR},
      telephone2 = #{telephone2,jdbcType=VARCHAR},
      telephone3 = #{telephone3,jdbcType=VARCHAR},
      mobiletel = #{mobiletel,jdbcType=VARCHAR},
      faxno = #{faxno,jdbcType=VARCHAR},
      industarialclass = #{industarialclass,jdbcType=VARCHAR},
      personid = #{personid,jdbcType=VARCHAR},
      personname = #{personname,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      webaddress = #{webaddress,jdbcType=VARCHAR},
      servername = #{servername,jdbcType=VARCHAR},
      priceoftax = #{priceoftax,jdbcType=VARCHAR},
      gatherother = #{gatherother,jdbcType=VARCHAR},
      transnewid = #{transnewid,jdbcType=VARCHAR},
      lastvisitdate = #{lastvisitdate,jdbcType=DATE},
      bookvisitdate = #{bookvisitdate,jdbcType=DATE},
      buildupdate = #{buildupdate,jdbcType=DATE},
      invotypeid = #{invotypeid,jdbcType=VARCHAR},
      invotypename = #{invotypename,jdbcType=VARCHAR},
      engfullname = #{engfullname,jdbcType=VARCHAR},
      engshortname = #{engshortname,jdbcType=VARCHAR},
      acccommi = #{acccommi,jdbcType=VARCHAR},
      acccomminame = #{acccomminame,jdbcType=VARCHAR},
      acccommipaied = #{acccommipaied,jdbcType=VARCHAR},
      acccommipaiedname = #{acccommipaiedname,jdbcType=VARCHAR},
      invzipcode = #{invzipcode,jdbcType=VARCHAR},
      invaddress = #{invaddress,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      pricerank = #{pricerank,jdbcType=VARCHAR},
      rateofdiscount = #{rateofdiscount,jdbcType=VARCHAR},
      Addfield1 = #{addfield1,jdbcType=VARCHAR},
      Addfield2 = #{addfield2,jdbcType=VARCHAR},
      earliesttraddate = #{earliesttraddate,jdbcType=DATE},
      firsttradedate = #{firsttradedate,jdbcType=DATE},
      latelytradedate = #{latelytradedate,jdbcType=DATE},
      latelyreturndate = #{latelyreturndate,jdbcType=DATE},
      accreceivable = #{accreceivable,jdbcType=VARCHAR},
      accreceivablename = #{accreceivablename,jdbcType=VARCHAR},
      accadvrecv = #{accadvrecv,jdbcType=VARCHAR},
      accadvrecvname = #{accadvrecvname,jdbcType=VARCHAR},
      bankaccount = #{bankaccount,jdbcType=VARCHAR},
      bankid = #{bankid,jdbcType=VARCHAR},
      bankname = #{bankname,jdbcType=VARCHAR},
      creditlevel = #{creditlevel,jdbcType=VARCHAR},
      amountquota = #{amountquota,jdbcType=VARCHAR},
      recvway = #{recvway,jdbcType=VARCHAR},
      distdays = #{distdays,jdbcType=VARCHAR},
      dayofclose = #{dayofclose,jdbcType=DATE},
      term = #{term,jdbcType=VARCHAR},
      invaliddate = #{invaliddate,jdbcType=DATE},
      termarea = #{termarea,jdbcType=VARCHAR},
      payment = #{payment,jdbcType=VARCHAR},
      shipment = #{shipment,jdbcType=VARCHAR},
      insurance = #{insurance,jdbcType=VARCHAR},
      agentid = #{agentid,jdbcType=VARCHAR},
      agentname = #{agentname,jdbcType=VARCHAR},
      areafreightid = #{areafreightid,jdbcType=VARCHAR},
      areafreighname = #{areafreighname,jdbcType=VARCHAR},
      comefrom = #{comefrom,jdbcType=VARCHAR},
      wentto = #{wentto,jdbcType=VARCHAR},
      startadvrecv = #{startadvrecv,jdbcType=VARCHAR},
      startreceivable = #{startreceivable,jdbcType=VARCHAR},
      curadvrecv = #{curadvrecv,jdbcType=VARCHAR},
      curreceivable = #{curreceivable,jdbcType=VARCHAR},
      remainquota = #{remainquota,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, fundsattribution, fullname, classid, classname, areaid, areaname, currencyid, 
    currencyname, currencyrate, currencyshortname, isforeign, shortname, taxno, chiefname, 
    capitailzation, linkman, telephone1, telephone2, telephone3, mobiletel, faxno, industarialclass, 
    personid, personname, email, webaddress, servername, priceoftax, gatherother, transnewid, 
    lastvisitdate, bookvisitdate, buildupdate, invotypeid, invotypename, engfullname, 
    engshortname, acccommi, acccomminame, acccommipaied, acccommipaiedname, invzipcode, 
    invaddress, memo, pricerank, rateofdiscount, Addfield1, Addfield2, earliesttraddate, 
    firsttradedate, latelytradedate, latelyreturndate, accreceivable, accreceivablename, 
    accadvrecv, accadvrecvname, bankaccount, bankid, bankname, creditlevel, amountquota, 
    recvway, distdays, dayofclose, term, invaliddate, termarea, payment, shipment, insurance, 
    agentid, agentname, areafreightid, areafreighname, comefrom, wentto, startadvrecv, 
    startreceivable, curadvrecv, curreceivable, remainquota
    from dsdscust1
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, fundsattribution, fullname, classid, classname, areaid, areaname, currencyid, 
    currencyname, currencyrate, currencyshortname, isforeign, shortname, taxno, chiefname, 
    capitailzation, linkman, telephone1, telephone2, telephone3, mobiletel, faxno, industarialclass, 
    personid, personname, email, webaddress, servername, priceoftax, gatherother, transnewid, 
    lastvisitdate, bookvisitdate, buildupdate, invotypeid, invotypename, engfullname, 
    engshortname, acccommi, acccomminame, acccommipaied, acccommipaiedname, invzipcode, 
    invaddress, memo, pricerank, rateofdiscount, Addfield1, Addfield2, earliesttraddate, 
    firsttradedate, latelytradedate, latelyreturndate, accreceivable, accreceivablename, 
    accadvrecv, accadvrecvname, bankaccount, bankid, bankname, creditlevel, amountquota, 
    recvway, distdays, dayofclose, term, invaliddate, termarea, payment, shipment, insurance, 
    agentid, agentname, areafreightid, areafreighname, comefrom, wentto, startadvrecv, 
    startreceivable, curadvrecv, curreceivable, remainquota
    from dsdscust1
  </select>
</mapper>