<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.erp.liaoshuanchen.dao.DsproductprodidMapper" >
  <resultMap id="BaseResultMap" type="com.example.erp.liaoshuanchen.pojo.Dsproductprodid" >
    <id column="ProdID" property="prodid" jdbcType="VARCHAR" />
    <result column="classid" property="classid" jdbcType="VARCHAR" />
    <result column="classname" property="classname" jdbcType="VARCHAR" />
    <result column="barcodeid" property="barcodeid" jdbcType="VARCHAR" />
    <result column="prodname" property="prodname" jdbcType="VARCHAR" />
    <result column="prodsizi" property="prodsizi" jdbcType="VARCHAR" />
    <result column="engname" property="engname" jdbcType="VARCHAR" />
    <result column="currid" property="currid" jdbcType="VARCHAR" />
    <result column="currname" property="currname" jdbcType="VARCHAR" />
    <result column="suggestprice" property="suggestprice" jdbcType="VARCHAR" />
    <result column="salespriceA" property="salespricea" jdbcType="VARCHAR" />
    <result column="salespriceB" property="salespriceb" jdbcType="VARCHAR" />
    <result column="salespriceC" property="salespricec" jdbcType="VARCHAR" />
    <result column="salespriceD" property="salespriced" jdbcType="VARCHAR" />
    <result column="salespriceE" property="salespricee" jdbcType="VARCHAR" />
    <result column="stdprice" property="stdprice" jdbcType="VARCHAR" />
    <result column="busitaxrate" property="busitaxrate" jdbcType="VARCHAR" />
    <result column="batchused" property="batchused" jdbcType="VARCHAR" />
    <result column="effectdateused" property="effectdateused" jdbcType="DATE" />
    <result column="validdateused" property="validdateused" jdbcType="DATE" />
    <result column="defvalidday" property="defvalidday" jdbcType="VARCHAR" />
    <result column="proddesc" property="proddesc" jdbcType="VARCHAR" />
    <result column="prodform" property="prodform" jdbcType="VARCHAR" />
    <result column="advancedays" property="advancedays" jdbcType="VARCHAR" />
    <result column="majorsupplier" property="majorsupplier" jdbcType="VARCHAR" />
    <result column="majorsuppliername" property="majorsuppliername" jdbcType="VARCHAR" />
    <result column="boutstockday" property="boutstockday" jdbcType="DATE" />
    <result column="binstockday" property="binstockday" jdbcType="DATE" />
    <result column="sluggishdays" property="sluggishdays" jdbcType="VARCHAR" />
    <result column="invaliddate" property="invaliddate" jdbcType="DATE" />
    <result column="safeqty" property="safeqty" jdbcType="VARCHAR" />
    <result column="cy20" property="cy20" jdbcType="VARCHAR" />
    <result column="cy40" property="cy40" jdbcType="VARCHAR" />
    <result column="hq40" property="hq40" jdbcType="VARCHAR" />
    <result column="cy45" property="cy45" jdbcType="VARCHAR" />
    <result column="inpackamt" property="inpackamt" jdbcType="VARCHAR" />
    <result column="outpackamt" property="outpackamt" jdbcType="VARCHAR" />
    <result column="volumeunit" property="volumeunit" jdbcType="VARCHAR" />
    <result column="volume" property="volume" jdbcType="VARCHAR" />
    <result column="netweight" property="netweight" jdbcType="VARCHAR" />
    <result column="grossweigh" property="grossweigh" jdbcType="VARCHAR" />
    <result column="bstdcost" property="bstdcost" jdbcType="VARCHAR" />
    <result column="bavgcost" property="bavgcost" jdbcType="VARCHAR" />
    <result column="cavgcost" property="cavgcost" jdbcType="VARCHAR" />
    <result column="ctotalcost" property="ctotalcost" jdbcType="VARCHAR" />
    <result column="udef1" property="udef1" jdbcType="VARCHAR" />
    <result column="udef2" property="udef2" jdbcType="VARCHAR" />
    <result column="priceoftax" property="priceoftax" jdbcType="VARCHAR" />
    <result column="btotalcost" property="btotalcost" jdbcType="VARCHAR" />
    <result column="stdunitid" property="stdunitid" jdbcType="VARCHAR" />
    <result column="stdunitname" property="stdunitname" jdbcType="VARCHAR" />
    <result column="stdunitengname" property="stdunitengname" jdbcType="VARCHAR" />
    <result column="callamt" property="callamt" jdbcType="VARCHAR" />
    <result column="nweight" property="nweight" jdbcType="VARCHAR" />
    <result column="gweight" property="gweight" jdbcType="VARCHAR" />
    <result column="long" property="longs" jdbcType="VARCHAR" />
    <result column="lunit" property="lunit" jdbcType="VARCHAR" />
    <result column="width" property="width" jdbcType="VARCHAR" />
    <result column="higth" property="higth" jdbcType="VARCHAR" />
    <result column="mvolume" property="mvolume" jdbcType="VARCHAR" />
    <result column="probigtype" property="probigtype" jdbcType="VARCHAR" />
    <result column="backtaxrate" property="backtaxrate" jdbcType="VARCHAR" />
    <result column="taxitemsid" property="taxitemsid" jdbcType="VARCHAR" />
    <result column="ballamt" property="ballamt" jdbcType="VARCHAR" />
    <result column="bcurrstock" property="bcurrstock" jdbcType="VARCHAR" />
    <result column="bsafeallstk" property="bsafeallstk" jdbcType="VARCHAR" />
    <result column="csafeallstk" property="csafeallstk" jdbcType="VARCHAR" />
    <result column="ccurrstock" property="ccurrstock" jdbcType="VARCHAR" />
    <result column="cstdcost" property="cstdcost" jdbcType="VARCHAR" />
    <result column="WareID" property="wareid" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from dsproductprodid
    where ProdID = #{prodid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.erp.liaoshuanchen.pojo.Dsproductprodid" useGeneratedKeys="true" keyProperty="prodid" >
    insert into dsproductprodid (classid, classname, barcodeid, 
      prodname, prodsizi, engname, 
      currid, currname, suggestprice, 
      salespriceA, salespriceB, salespriceC, 
      salespriceD, salespriceE, stdprice, 
      busitaxrate, batchused, effectdateused, 
      validdateused, defvalidday, proddesc, 
      prodform, advancedays, majorsupplier, 
      majorsuppliername, boutstockday, binstockday, 
      sluggishdays, invaliddate, safeqty, 
      cy20, cy40, hq40, cy45, 
      inpackamt, outpackamt, volumeunit, 
      volume, netweight, grossweigh, 
      bstdcost, bavgcost, cavgcost, 
      ctotalcost, udef1, udef2, 
      priceoftax, btotalcost, stdunitid, 
      stdunitname, stdunitengname, callamt, 
      nweight, gweight, long, 
      lunit, width, higth, 
      mvolume, probigtype, backtaxrate, 
      taxitemsid, ballamt, bcurrstock, 
      bsafeallstk, csafeallstk, ccurrstock, 
      cstdcost, WareID)
    values (#{classid,jdbcType=VARCHAR}, #{classname,jdbcType=VARCHAR}, #{barcodeid,jdbcType=VARCHAR}, 
      #{prodname,jdbcType=VARCHAR}, #{prodsizi,jdbcType=VARCHAR}, #{engname,jdbcType=VARCHAR}, 
      #{currid,jdbcType=VARCHAR}, #{currname,jdbcType=VARCHAR}, #{suggestprice,jdbcType=VARCHAR}, 
      #{salespricea,jdbcType=VARCHAR}, #{salespriceb,jdbcType=VARCHAR}, #{salespricec,jdbcType=VARCHAR}, 
      #{salespriced,jdbcType=VARCHAR}, #{salespricee,jdbcType=VARCHAR}, #{stdprice,jdbcType=VARCHAR}, 
      #{busitaxrate,jdbcType=VARCHAR}, #{batchused,jdbcType=VARCHAR}, #{effectdateused,jdbcType=DATE}, 
      #{validdateused,jdbcType=DATE}, #{defvalidday,jdbcType=VARCHAR}, #{proddesc,jdbcType=VARCHAR}, 
      #{prodform,jdbcType=VARCHAR}, #{advancedays,jdbcType=VARCHAR}, #{majorsupplier,jdbcType=VARCHAR}, 
      #{majorsuppliername,jdbcType=VARCHAR}, #{boutstockday,jdbcType=DATE}, #{binstockday,jdbcType=DATE}, 
      #{sluggishdays,jdbcType=VARCHAR}, #{invaliddate,jdbcType=DATE}, #{safeqty,jdbcType=VARCHAR}, 
      #{cy20,jdbcType=VARCHAR}, #{cy40,jdbcType=VARCHAR}, #{hq40,jdbcType=VARCHAR}, #{cy45,jdbcType=VARCHAR}, 
      #{inpackamt,jdbcType=VARCHAR}, #{outpackamt,jdbcType=VARCHAR}, #{volumeunit,jdbcType=VARCHAR}, 
      #{volume,jdbcType=VARCHAR}, #{netweight,jdbcType=VARCHAR}, #{grossweigh,jdbcType=VARCHAR}, 
      #{bstdcost,jdbcType=VARCHAR}, #{bavgcost,jdbcType=VARCHAR}, #{cavgcost,jdbcType=VARCHAR}, 
      #{ctotalcost,jdbcType=VARCHAR}, #{udef1,jdbcType=VARCHAR}, #{udef2,jdbcType=VARCHAR}, 
      #{priceoftax,jdbcType=VARCHAR}, #{btotalcost,jdbcType=VARCHAR}, #{stdunitid,jdbcType=VARCHAR}, 
      #{stdunitname,jdbcType=VARCHAR}, #{stdunitengname,jdbcType=VARCHAR}, #{callamt,jdbcType=VARCHAR}, 
      #{nweight,jdbcType=VARCHAR}, #{gweight,jdbcType=VARCHAR}, #{longs,jdbcType=VARCHAR}, 
      #{lunit,jdbcType=VARCHAR}, #{width,jdbcType=VARCHAR}, #{higth,jdbcType=VARCHAR}, 
      #{mvolume,jdbcType=VARCHAR}, #{probigtype,jdbcType=VARCHAR}, #{backtaxrate,jdbcType=VARCHAR}, 
      #{taxitemsid,jdbcType=VARCHAR}, #{ballamt,jdbcType=VARCHAR}, #{bcurrstock,jdbcType=VARCHAR}, 
      #{bsafeallstk,jdbcType=VARCHAR}, #{csafeallstk,jdbcType=VARCHAR}, #{ccurrstock,jdbcType=VARCHAR}, 
      #{cstdcost,jdbcType=VARCHAR}, #{wareid,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.erp.liaoshuanchen.pojo.Dsproductprodid" >
    update dsproductprodid
    set classid = #{classid,jdbcType=VARCHAR},
      classname = #{classname,jdbcType=VARCHAR},
      barcodeid = #{barcodeid,jdbcType=VARCHAR},
      prodname = #{prodname,jdbcType=VARCHAR},
      prodsizi = #{prodsizi,jdbcType=VARCHAR},
      engname = #{engname,jdbcType=VARCHAR},
      currid = #{currid,jdbcType=VARCHAR},
      currname = #{currname,jdbcType=VARCHAR},
      suggestprice = #{suggestprice,jdbcType=VARCHAR},
      salespriceA = #{salespricea,jdbcType=VARCHAR},
      salespriceB = #{salespriceb,jdbcType=VARCHAR},
      salespriceC = #{salespricec,jdbcType=VARCHAR},
      salespriceD = #{salespriced,jdbcType=VARCHAR},
      salespriceE = #{salespricee,jdbcType=VARCHAR},
      stdprice = #{stdprice,jdbcType=VARCHAR},
      busitaxrate = #{busitaxrate,jdbcType=VARCHAR},
      batchused = #{batchused,jdbcType=VARCHAR},
      effectdateused = #{effectdateused,jdbcType=DATE},
      validdateused = #{validdateused,jdbcType=DATE},
      defvalidday = #{defvalidday,jdbcType=VARCHAR},
      proddesc = #{proddesc,jdbcType=VARCHAR},
      prodform = #{prodform,jdbcType=VARCHAR},
      advancedays = #{advancedays,jdbcType=VARCHAR},
      majorsupplier = #{majorsupplier,jdbcType=VARCHAR},
      majorsuppliername = #{majorsuppliername,jdbcType=VARCHAR},
      boutstockday = #{boutstockday,jdbcType=DATE},
      binstockday = #{binstockday,jdbcType=DATE},
      sluggishdays = #{sluggishdays,jdbcType=VARCHAR},
      invaliddate = #{invaliddate,jdbcType=DATE},
      safeqty = #{safeqty,jdbcType=VARCHAR},
      cy20 = #{cy20,jdbcType=VARCHAR},
      cy40 = #{cy40,jdbcType=VARCHAR},
      hq40 = #{hq40,jdbcType=VARCHAR},
      cy45 = #{cy45,jdbcType=VARCHAR},
      inpackamt = #{inpackamt,jdbcType=VARCHAR},
      outpackamt = #{outpackamt,jdbcType=VARCHAR},
      volumeunit = #{volumeunit,jdbcType=VARCHAR},
      volume = #{volume,jdbcType=VARCHAR},
      netweight = #{netweight,jdbcType=VARCHAR},
      grossweigh = #{grossweigh,jdbcType=VARCHAR},
      bstdcost = #{bstdcost,jdbcType=VARCHAR},
      bavgcost = #{bavgcost,jdbcType=VARCHAR},
      cavgcost = #{cavgcost,jdbcType=VARCHAR},
      ctotalcost = #{ctotalcost,jdbcType=VARCHAR},
      udef1 = #{udef1,jdbcType=VARCHAR},
      udef2 = #{udef2,jdbcType=VARCHAR},
      priceoftax = #{priceoftax,jdbcType=VARCHAR},
      btotalcost = #{btotalcost,jdbcType=VARCHAR},
      stdunitid = #{stdunitid,jdbcType=VARCHAR},
      stdunitname = #{stdunitname,jdbcType=VARCHAR},
      stdunitengname = #{stdunitengname,jdbcType=VARCHAR},
      callamt = #{callamt,jdbcType=VARCHAR},
      nweight = #{nweight,jdbcType=VARCHAR},
      gweight = #{gweight,jdbcType=VARCHAR},
      long = #{longs,jdbcType=VARCHAR},
      lunit = #{lunit,jdbcType=VARCHAR},
      width = #{width,jdbcType=VARCHAR},
      higth = #{higth,jdbcType=VARCHAR},
      mvolume = #{mvolume,jdbcType=VARCHAR},
      probigtype = #{probigtype,jdbcType=VARCHAR},
      backtaxrate = #{backtaxrate,jdbcType=VARCHAR},
      taxitemsid = #{taxitemsid,jdbcType=VARCHAR},
      ballamt = #{ballamt,jdbcType=VARCHAR},
      bcurrstock = #{bcurrstock,jdbcType=VARCHAR},
      bsafeallstk = #{bsafeallstk,jdbcType=VARCHAR},
      csafeallstk = #{csafeallstk,jdbcType=VARCHAR},
      ccurrstock = #{ccurrstock,jdbcType=VARCHAR},
      cstdcost = #{cstdcost,jdbcType=VARCHAR},
      WareID = #{wareid,jdbcType=VARCHAR}
    where ProdID = #{prodid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select ProdID, classid, classname, barcodeid, prodname, prodsizi, engname, currid, 
    currname, suggestprice, salespriceA, salespriceB, salespriceC, salespriceD, salespriceE, 
    stdprice, busitaxrate, batchused, effectdateused, validdateused, defvalidday, proddesc, 
    prodform, advancedays, majorsupplier, majorsuppliername, boutstockday, binstockday, 
    sluggishdays, invaliddate, safeqty, cy20, cy40, hq40, cy45, inpackamt, outpackamt, 
    volumeunit, volume, netweight, grossweigh, bstdcost, bavgcost, cavgcost, ctotalcost, 
    udef1, udef2, priceoftax, btotalcost, stdunitid, stdunitname, stdunitengname, callamt, 
    nweight, gweight, long, lunit, width, higth, mvolume, probigtype, backtaxrate, taxitemsid, 
    ballamt, bcurrstock, bsafeallstk, csafeallstk, ccurrstock, cstdcost, WareID
    from dsproductprodid
    where ProdID = #{prodid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ProdID, classid, classname, barcodeid, prodname, prodsizi, engname, currid, 
    currname, suggestprice, salespriceA, salespriceB, salespriceC, salespriceD, salespriceE, 
    stdprice, busitaxrate, batchused, effectdateused, validdateused, defvalidday, proddesc, 
    prodform, advancedays, majorsupplier, majorsuppliername, boutstockday, binstockday, 
    sluggishdays, invaliddate, safeqty, cy20, cy40, hq40, cy45, inpackamt, outpackamt, 
    volumeunit, volume, netweight, grossweigh, bstdcost, bavgcost, cavgcost, ctotalcost, 
    udef1, udef2, priceoftax, btotalcost, stdunitid, stdunitname, stdunitengname, callamt, 
    nweight, gweight, long, lunit, width, higth, mvolume, probigtype, backtaxrate, taxitemsid, 
    ballamt, bcurrstock, bsafeallstk, csafeallstk, ccurrstock, cstdcost, WareID
    from dsproductprodid
  </select>
</mapper>