<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.erp.liaoshuanchen.dao.InvoicetypeLscMapper" >
  <resultMap id="BaseResultMap" type="com.example.erp.liaoshuanchen.pojo.InvoicetypeLsc" >
    <id column="invNo" property="invno" jdbcType="VARCHAR" />
    <result column="invName" property="invname" jdbcType="VARCHAR" />
    <result column="englishiName" property="englishiname" jdbcType="VARCHAR" />
    <result column="invremark" property="invremark" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from invoicetype_lsc
    where invNo = #{invno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.erp.liaoshuanchen.pojo.InvoicetypeLsc" useGeneratedKeys="true" keyProperty="invno" >
    insert into invoicetype_lsc (invName, englishiName, invremark
      )
    values (#{invname,jdbcType=VARCHAR}, #{englishiname,jdbcType=VARCHAR}, #{invremark,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.erp.liaoshuanchen.pojo.InvoicetypeLsc" >
    update invoicetype_lsc
    set invName = #{invname,jdbcType=VARCHAR},
      englishiName = #{englishiname,jdbcType=VARCHAR},
      invremark = #{invremark,jdbcType=VARCHAR}
    where invNo = #{invno,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select invNo, invName, englishiName, invremark
    from invoicetype_lsc
    where invNo = #{invno,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select invNo, invName, englishiName, invremark
    from invoicetype_lsc
  </select>
</mapper>