<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.erp.liaoshuanchen.dao.OthercomedetailLscMapper" >
  <resultMap id="BaseResultMap" type="com.example.erp.liaoshuanchen.pojo.OthercomedetailLsc" >
    <id column="Othcomeid" property="othcomeid" jdbcType="VARCHAR" />
    <id column="Othcomeno" property="othcomeno" jdbcType="INTEGER" />
    <result column="Othcomemertialsid" property="othcomemertialsid" jdbcType="VARCHAR" />
    <result column="Othcomemertialname" property="othcomemertialname" jdbcType="VARCHAR" />
    <result column="Othcometypes" property="othcometypes" jdbcType="VARCHAR" />
    <result column="Othcomeunits" property="othcomeunits" jdbcType="VARCHAR" />
    <result column="Othcomeamount" property="othcomeamount" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="money" property="money" jdbcType="REAL" />
    <result column="batchNumber" property="batchnumber" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
    <result column="remark2" property="remark2" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from othercomedetail_lsc
    where Othcomeid = #{othcomeid,jdbcType=VARCHAR}
      and Othcomeno = #{othcomeno,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.erp.liaoshuanchen.pojo.OthercomedetailLsc" useGeneratedKeys="true" keyProperty="othcomeid" >
    insert into othercomedetail_lsc (Othcomeno, Othcomemertialsid, Othcomemertialname, 
      Othcometypes, Othcomeunits, Othcomeamount, 
      price, money, batchNumber, 
      remark, remark1, remark2
      )
    values (#{othcomeno,jdbcType=INTEGER}, #{othcomemertialsid,jdbcType=VARCHAR}, #{othcomemertialname,jdbcType=VARCHAR}, 
      #{othcometypes,jdbcType=VARCHAR}, #{othcomeunits,jdbcType=VARCHAR}, #{othcomeamount,jdbcType=INTEGER}, 
      #{price,jdbcType=REAL}, #{money,jdbcType=REAL}, #{batchnumber,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{remark1,jdbcType=VARCHAR}, #{remark2,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.erp.liaoshuanchen.pojo.OthercomedetailLsc" >
    update othercomedetail_lsc
    set Othcomemertialsid = #{othcomemertialsid,jdbcType=VARCHAR},
      Othcomemertialname = #{othcomemertialname,jdbcType=VARCHAR},
      Othcometypes = #{othcometypes,jdbcType=VARCHAR},
      Othcomeunits = #{othcomeunits,jdbcType=VARCHAR},
      Othcomeamount = #{othcomeamount,jdbcType=INTEGER},
      price = #{price,jdbcType=REAL},
      money = #{money,jdbcType=REAL},
      batchNumber = #{batchnumber,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      remark1 = #{remark1,jdbcType=VARCHAR},
      remark2 = #{remark2,jdbcType=VARCHAR}
    where Othcomeid = #{othcomeid,jdbcType=VARCHAR}
      and Othcomeno = #{othcomeno,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select Othcomeid, Othcomeno, Othcomemertialsid, Othcomemertialname, Othcometypes, 
    Othcomeunits, Othcomeamount, price, money, batchNumber, remark, remark1, remark2
    from othercomedetail_lsc
    where Othcomeid = #{othcomeid,jdbcType=VARCHAR}
      and Othcomeno = #{othcomeno,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select Othcomeid, Othcomeno, Othcomemertialsid, Othcomemertialname, Othcometypes, 
    Othcomeunits, Othcomeamount, price, money, batchNumber, remark, remark1, remark2
    from othercomedetail_lsc
  </select>
</mapper>