<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.erp.liaoshuanchen.dao.PersonnelMapper" >
  <resultMap id="BaseResultMap" type="com.example.erp.liaoshuanchen.pojo.Personnel" >
    <id column="Personnel_id" property="personnelId" jdbcType="INTEGER" />
    <result column="Personnel_name" property="personnelName" jdbcType="VARCHAR" />
    <result column="Personnel_English" property="personnelEnglish" jdbcType="VARCHAR" />
    <result column="Personnel_ip" property="personnelIp" jdbcType="VARCHAR" />
    <result column="Personnel_sex" property="personnelSex" jdbcType="INTEGER" />
    <result column="Personnel_department" property="personnelDepartment" jdbcType="INTEGER" />
    <result column="Personnel_Employment" property="personnelEmployment" jdbcType="INTEGER" />
    <result column="Personnel_birth" property="personnelBirth" jdbcType="DATE" />
    <result column="Personnel_marital" property="personnelMarital" jdbcType="INTEGER" />
    <result column="Personnel_blood" property="personnelBlood" jdbcType="VARCHAR" />
    <result column="Personne_place" property="personnePlace" jdbcType="VARCHAR" />
    <result column="Personne_nationality" property="personneNationality" jdbcType="VARCHAR" />
    <result column="Personne_nationalitys" property="personneNationalitys" jdbcType="VARCHAR" />
    <result column="Personne_duty" property="personneDuty" jdbcType="INTEGER" />
    <result column="Personne_qhnewsqiye" property="personneQhnewsqiye" jdbcType="VARCHAR" />
    <result column="Personne_phone" property="personnePhone" jdbcType="VARCHAR" />
    <result column="Personne_Contacts" property="personneContacts" jdbcType="VARCHAR" />
    <result column="Personne_status" property="personneStatus" jdbcType="VARCHAR" />
    <result column="Personne_enrollment" property="personneEnrollment" jdbcType="DATE" />
    <result column="Personne_Departure" property="personneDeparture" jdbcType="DATE" />
    <result column="Personne_titles" property="personneTitles" jdbcType="VARCHAR" />
    <result column="Personne_Chinese" property="personneChinese" jdbcType="VARCHAR" />
    <result column="Personne_Post" property="personnePost" jdbcType="VARCHAR" />
    <result column="Personne_ganwei" property="personneGanwei" jdbcType="VARCHAR" />
    <result column="Personne_telephone" property="personneTelephone" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from personnel
    where Personnel_id = #{personnelId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.erp.liaoshuanchen.pojo.Personnel" useGeneratedKeys="true" keyProperty="personnelId" >
    insert into personnel (Personnel_name, Personnel_English, 
      Personnel_ip, Personnel_sex, Personnel_department, 
      Personnel_Employment, Personnel_birth, Personnel_marital, 
      Personnel_blood, Personne_place, Personne_nationality, 
      Personne_nationalitys, Personne_duty, Personne_qhnewsqiye, 
      Personne_phone, Personne_Contacts, Personne_status, 
      Personne_enrollment, Personne_Departure, Personne_titles, 
      Personne_Chinese, Personne_Post, Personne_ganwei, 
      Personne_telephone)
    values (#{personnelName,jdbcType=VARCHAR}, #{personnelEnglish,jdbcType=VARCHAR}, 
      #{personnelIp,jdbcType=VARCHAR}, #{personnelSex,jdbcType=INTEGER}, #{personnelDepartment,jdbcType=INTEGER}, 
      #{personnelEmployment,jdbcType=INTEGER}, #{personnelBirth,jdbcType=DATE}, #{personnelMarital,jdbcType=INTEGER}, 
      #{personnelBlood,jdbcType=VARCHAR}, #{personnePlace,jdbcType=VARCHAR}, #{personneNationality,jdbcType=VARCHAR}, 
      #{personneNationalitys,jdbcType=VARCHAR}, #{personneDuty,jdbcType=INTEGER}, #{personneQhnewsqiye,jdbcType=VARCHAR}, 
      #{personnePhone,jdbcType=VARCHAR}, #{personneContacts,jdbcType=VARCHAR}, #{personneStatus,jdbcType=VARCHAR}, 
      #{personneEnrollment,jdbcType=DATE}, #{personneDeparture,jdbcType=DATE}, #{personneTitles,jdbcType=VARCHAR}, 
      #{personneChinese,jdbcType=VARCHAR}, #{personnePost,jdbcType=VARCHAR}, #{personneGanwei,jdbcType=VARCHAR}, 
      #{personneTelephone,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.erp.liaoshuanchen.pojo.Personnel" >
    update personnel
    set Personnel_name = #{personnelName,jdbcType=VARCHAR},
      Personnel_English = #{personnelEnglish,jdbcType=VARCHAR},
      Personnel_ip = #{personnelIp,jdbcType=VARCHAR},
      Personnel_sex = #{personnelSex,jdbcType=INTEGER},
      Personnel_department = #{personnelDepartment,jdbcType=INTEGER},
      Personnel_Employment = #{personnelEmployment,jdbcType=INTEGER},
      Personnel_birth = #{personnelBirth,jdbcType=DATE},
      Personnel_marital = #{personnelMarital,jdbcType=INTEGER},
      Personnel_blood = #{personnelBlood,jdbcType=VARCHAR},
      Personne_place = #{personnePlace,jdbcType=VARCHAR},
      Personne_nationality = #{personneNationality,jdbcType=VARCHAR},
      Personne_nationalitys = #{personneNationalitys,jdbcType=VARCHAR},
      Personne_duty = #{personneDuty,jdbcType=INTEGER},
      Personne_qhnewsqiye = #{personneQhnewsqiye,jdbcType=VARCHAR},
      Personne_phone = #{personnePhone,jdbcType=VARCHAR},
      Personne_Contacts = #{personneContacts,jdbcType=VARCHAR},
      Personne_status = #{personneStatus,jdbcType=VARCHAR},
      Personne_enrollment = #{personneEnrollment,jdbcType=DATE},
      Personne_Departure = #{personneDeparture,jdbcType=DATE},
      Personne_titles = #{personneTitles,jdbcType=VARCHAR},
      Personne_Chinese = #{personneChinese,jdbcType=VARCHAR},
      Personne_Post = #{personnePost,jdbcType=VARCHAR},
      Personne_ganwei = #{personneGanwei,jdbcType=VARCHAR},
      Personne_telephone = #{personneTelephone,jdbcType=VARCHAR}
    where Personnel_id = #{personnelId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select Personnel_id, Personnel_name, Personnel_English, Personnel_ip, Personnel_sex, 
    Personnel_department, Personnel_Employment, Personnel_birth, Personnel_marital, Personnel_blood, 
    Personne_place, Personne_nationality, Personne_nationalitys, Personne_duty, Personne_qhnewsqiye, 
    Personne_phone, Personne_Contacts, Personne_status, Personne_enrollment, Personne_Departure, 
    Personne_titles, Personne_Chinese, Personne_Post, Personne_ganwei, Personne_telephone
    from personnel
    where Personnel_id = #{personnelId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select Personnel_id, Personnel_name, Personnel_English, Personnel_ip, Personnel_sex, 
    Personnel_department, Personnel_Employment, Personnel_birth, Personnel_marital, Personnel_blood, 
    Personne_place, Personne_nationality, Personne_nationalitys, Personne_duty, Personne_qhnewsqiye, 
    Personne_phone, Personne_Contacts, Personne_status, Personne_enrollment, Personne_Departure, 
    Personne_titles, Personne_Chinese, Personne_Post, Personne_ganwei, Personne_telephone
    from personnel
  </select>
</mapper>