<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.erp.liaoshuanchen.dao.PurchaseinvoicelistLscMapper" >
  <resultMap id="BaseResultMap" type="com.example.erp.liaoshuanchen.pojo.PurchaseinvoicelistLsc" >
    <id column="purNo" property="purno" jdbcType="VARCHAR" />
    <id column="apdrows" property="apdrows" jdbcType="INTEGER" />
    <result column="apdmateridlid" property="apdmateridlid" jdbcType="VARCHAR" />
    <result column="apdmateridlname" property="apdmateridlname" jdbcType="VARCHAR" />
    <result column="apdmodel" property="apdmodel" jdbcType="VARCHAR" />
    <result column="ydMoney" property="ydmoney" jdbcType="REAL" />
    <result column="ydPrice" property="ydprice" jdbcType="REAL" />
    <result column="invoiceTaxMoney" property="invoicetaxmoney" jdbcType="REAL" />
    <result column="invoiceTax" property="invoicetax" jdbcType="REAL" />
    <result column="invoiceTaxRate" property="invoicetaxrate" jdbcType="REAL" />
    <result column="invoiceMoney" property="invoicemoney" jdbcType="REAL" />
    <result column="invoicePrice" property="invoiceprice" jdbcType="REAL" />
    <result column="invoiceNum" property="invoicenum" jdbcType="INTEGER" />
    <result column="rate" property="rate" jdbcType="REAL" />
    <result column="differenceInPrice" property="differenceinprice" jdbcType="REAL" />
    <result column="differenceInPriceMoney" property="differenceinpricemoney" jdbcType="REAL" />
    <result column="differenceInPriceSum" property="differenceinpricesum" jdbcType="REAL" />
    <result column="sinName" property="sinname" jdbcType="VARCHAR" />
    <result column="originBillId" property="originbillid" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
    <result column="remark2" property="remark2" jdbcType="VARCHAR" />
    <result column="matunit" property="matunit" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from purchaseinvoicelist_lsc
    where purNo = #{purno,jdbcType=VARCHAR}
      and apdrows = #{apdrows,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.erp.liaoshuanchen.pojo.PurchaseinvoicelistLsc" useGeneratedKeys="true" keyProperty="purno" >
    insert into purchaseinvoicelist_lsc (apdrows, apdmateridlid, apdmateridlname, 
      apdmodel, ydMoney, ydPrice, 
      invoiceTaxMoney, invoiceTax, invoiceTaxRate, 
      invoiceMoney, invoicePrice, invoiceNum, 
      rate, differenceInPrice, differenceInPriceMoney, 
      differenceInPriceSum, sinName, originBillId, 
      remark, remark1, remark2, 
      matunit)
    values (#{apdrows,jdbcType=INTEGER}, #{apdmateridlid,jdbcType=VARCHAR}, #{apdmateridlname,jdbcType=VARCHAR}, 
      #{apdmodel,jdbcType=VARCHAR}, #{ydmoney,jdbcType=REAL}, #{ydprice,jdbcType=REAL}, 
      #{invoicetaxmoney,jdbcType=REAL}, #{invoicetax,jdbcType=REAL}, #{invoicetaxrate,jdbcType=REAL}, 
      #{invoicemoney,jdbcType=REAL}, #{invoiceprice,jdbcType=REAL}, #{invoicenum,jdbcType=INTEGER}, 
      #{rate,jdbcType=REAL}, #{differenceinprice,jdbcType=REAL}, #{differenceinpricemoney,jdbcType=REAL}, 
      #{differenceinpricesum,jdbcType=REAL}, #{sinname,jdbcType=VARCHAR}, #{originbillid,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{remark1,jdbcType=VARCHAR}, #{remark2,jdbcType=VARCHAR}, 
      #{matunit,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.erp.liaoshuanchen.pojo.PurchaseinvoicelistLsc" >
    update purchaseinvoicelist_lsc
    set apdmateridlid = #{apdmateridlid,jdbcType=VARCHAR},
      apdmateridlname = #{apdmateridlname,jdbcType=VARCHAR},
      apdmodel = #{apdmodel,jdbcType=VARCHAR},
      ydMoney = #{ydmoney,jdbcType=REAL},
      ydPrice = #{ydprice,jdbcType=REAL},
      invoiceTaxMoney = #{invoicetaxmoney,jdbcType=REAL},
      invoiceTax = #{invoicetax,jdbcType=REAL},
      invoiceTaxRate = #{invoicetaxrate,jdbcType=REAL},
      invoiceMoney = #{invoicemoney,jdbcType=REAL},
      invoicePrice = #{invoiceprice,jdbcType=REAL},
      invoiceNum = #{invoicenum,jdbcType=INTEGER},
      rate = #{rate,jdbcType=REAL},
      differenceInPrice = #{differenceinprice,jdbcType=REAL},
      differenceInPriceMoney = #{differenceinpricemoney,jdbcType=REAL},
      differenceInPriceSum = #{differenceinpricesum,jdbcType=REAL},
      sinName = #{sinname,jdbcType=VARCHAR},
      originBillId = #{originbillid,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      remark1 = #{remark1,jdbcType=VARCHAR},
      remark2 = #{remark2,jdbcType=VARCHAR},
      matunit = #{matunit,jdbcType=VARCHAR}
    where purNo = #{purno,jdbcType=VARCHAR}
      and apdrows = #{apdrows,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select purNo, apdrows, apdmateridlid, apdmateridlname, apdmodel, ydMoney, ydPrice, 
    invoiceTaxMoney, invoiceTax, invoiceTaxRate, invoiceMoney, invoicePrice, invoiceNum, 
    rate, differenceInPrice, differenceInPriceMoney, differenceInPriceSum, sinName, originBillId, 
    remark, remark1, remark2, matunit
    from purchaseinvoicelist_lsc
    where purNo = #{purno,jdbcType=VARCHAR}
      and apdrows = #{apdrows,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select purNo, apdrows, apdmateridlid, apdmateridlname, apdmodel, ydMoney, ydPrice, 
    invoiceTaxMoney, invoiceTax, invoiceTaxRate, invoiceMoney, invoicePrice, invoiceNum, 
    rate, differenceInPrice, differenceInPriceMoney, differenceInPriceSum, sinName, originBillId, 
    remark, remark1, remark2, matunit
    from purchaseinvoicelist_lsc
  </select>
</mapper>