<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.erp.liaoshuanchen.dao.SellquoteLscMapper" >

  <resultMap id="BaseResultMap" type="com.example.erp.liaoshuanchen.pojo.SellquoteLsc" >
    <id column="billId" property="billid" jdbcType="VARCHAR" />
    <result column="billDate" property="billdate" jdbcType="DATE" />
    <result column="cliid" property="cliid" jdbcType="VARCHAR" />
    <result column="clishortname" property="clishortname" jdbcType="VARCHAR" />
    <result column="cliplaceid" property="cliplaceid" jdbcType="VARCHAR" />
    <result column="cliplace" property="cliplace" jdbcType="VARCHAR" />
    <result column="exchRate" property="exchrate" jdbcType="REAL" />
    <result column="effectdate" property="effectdate" jdbcType="DATE" />
    <result column="currencyTypeID" property="currencytypeid" jdbcType="VARCHAR" />
    <result column="currencyTypeName" property="currencytypename" jdbcType="VARCHAR" />
    <result column="priceWhetherTax" property="pricewhethertax" jdbcType="INTEGER" />
    <result column="empid" property="empid" jdbcType="VARCHAR" />
    <result column="empName" property="empname" jdbcType="VARCHAR" />
    <result column="depid" property="depid" jdbcType="VARCHAR" />
    <result column="depName" property="depname" jdbcType="VARCHAR" />
    <result column="makeEmpName" property="makeempname" jdbcType="VARCHAR" />
    <result column="AuditingEmpName" property="auditingempname" jdbcType="VARCHAR" />
    <result column="checkstate" property="checkstate" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="enables" property="enables" jdbcType="INTEGER" />
    <collection property="qdlS"  column="billId" select="selectByQuotedetailsLscID"></collection>
  </resultMap>
  
  <resultMap id="QuotedetailsLsc" type="com.example.erp.liaoshuanchen.pojo.QuotedetailsLsc" >
    <id column="billId" property="billid" jdbcType="VARCHAR" />
    <id column="coteMark" property="cotemark" jdbcType="VARCHAR" />
    <result column="matid" property="matid" jdbcType="VARCHAR" />
    <result column="matname" property="matname" jdbcType="VARCHAR" />
    <result column="matspec" property="matspec" jdbcType="VARCHAR" />
    <result column="matunit" property="matunit" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="agioAgoPrice" property="agioagoprice" jdbcType="REAL" />
    <result column="agio" property="agio" jdbcType="REAL" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="money" property="money" jdbcType="REAL" />
    <result column="cess" property="cess" jdbcType="REAL" />
    <result column="taxmoney" property="taxmoney" jdbcType="REAL" />
    <result column="intaxmoney" property="intaxmoney" jdbcType="REAL" />
    <result column="present" property="present" jdbcType="INTEGER" />
    <result column="factCost" property="factcost" jdbcType="REAL" />
    <result column="criterionCost" property="criterioncost" jdbcType="REAL" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
    <result column="remark2" property="remark2" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="selectByQuotedetailsLscID" resultMap="QuotedetailsLsc" parameterType="map" >
    select billId, coteMark, matid, matname, matspec, matunit, number, agioAgoPrice, 
    agio, price, money, cess, taxmoney, intaxmoney, present, factCost, criterionCost, 
    remark1, remark2
    from quotedetails_lsc
    where billId = #{billid,jdbcType=VARCHAR}
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
  	delete from quotedetails_lsc
    where billId = #{billid,jdbcType=VARCHAR};
      
    delete from sellquote_lsc
    where billId = #{billid,jdbcType=VARCHAR};
  </delete>
  
  <update id="updateCheckstate" >
    update sellquote_lsc
    set  enables = 1
    where billId = #{billid}
  </update>
  
  <insert id="insert" parameterType="com.example.erp.liaoshuanchen.pojo.SellquoteLsc">
    insert into sellquote_lsc (billId,billDate, cliid, clishortname, 
      cliplaceid, cliplace, exchRate, 
      effectdate, currencyTypeID, currencyTypeName, 
      priceWhetherTax, empid, empName, 
      depid, depName, makeEmpName, 
      AuditingEmpName, checkstate, remark, 
      enables)
    values (#{billid,jdbcType=VARCHAR},#{billdate,jdbcType=DATE}, #{cliid,jdbcType=VARCHAR}, #{clishortname,jdbcType=VARCHAR}, 
      #{cliplaceid,jdbcType=VARCHAR}, #{cliplace,jdbcType=VARCHAR}, #{exchrate,jdbcType=REAL}, 
      #{effectdate,jdbcType=DATE}, #{currencytypeid,jdbcType=VARCHAR}, #{currencytypename,jdbcType=VARCHAR}, 
      #{pricewhethertax,jdbcType=INTEGER}, #{empid,jdbcType=VARCHAR}, #{empname,jdbcType=VARCHAR}, 
      #{depid,jdbcType=VARCHAR}, #{depname,jdbcType=VARCHAR}, #{makeempname,jdbcType=VARCHAR}, 
      #{auditingempname,jdbcType=VARCHAR}, #{checkstate,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{enables,jdbcType=INTEGER});
      
      <if test="qdlS.size()!=0">
			insert into quotedetails_lsc (billId,coteMark, matid, matname, 
			  matspec, matunit, number, 
			  agioAgoPrice, agio, price, money, 
			  cess, taxmoney, intaxmoney, 
			  present, factCost, criterionCost, 
			  remark1, remark2)
			values 
		<foreach collection="qdlS" item="temp" separator=",">
			(#{temp.billid,jdbcType=VARCHAR},#{temp.cotemark,jdbcType=VARCHAR}, #{temp.matid,jdbcType=VARCHAR}, #{temp.matname,jdbcType=VARCHAR}, 
			  #{temp.matspec,jdbcType=VARCHAR}, #{temp.matunit,jdbcType=VARCHAR}, #{temp.number,jdbcType=INTEGER}, 
			  #{temp.agioagoprice,jdbcType=REAL}, #{temp.agio,jdbcType=REAL}, #{temp.price,jdbcType=REAL}, #{temp.money,jdbcType=REAL}, 
			  #{temp.cess,jdbcType=REAL}, #{temp.taxmoney,jdbcType=REAL}, #{temp.intaxmoney,jdbcType=REAL}, 
			  #{temp.present,jdbcType=INTEGER}, #{temp.factcost,jdbcType=REAL}, #{temp.criterioncost,jdbcType=REAL}, 
			  #{temp.remark1,jdbcType=VARCHAR}, #{temp.remark2,jdbcType=VARCHAR})
		</foreach>
	  </if>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.erp.liaoshuanchen.pojo.SellquoteLsc" >
    update sellquote_lsc
    set billDate = #{billdate,jdbcType=DATE},
      cliid = #{cliid,jdbcType=VARCHAR},
      clishortname = #{clishortname,jdbcType=VARCHAR},
      cliplaceid = #{cliplaceid,jdbcType=VARCHAR},
      cliplace = #{cliplace,jdbcType=VARCHAR},
      exchRate = #{exchrate,jdbcType=REAL},
      effectdate = #{effectdate,jdbcType=DATE},
      currencyTypeID = #{currencytypeid,jdbcType=VARCHAR},
      currencyTypeName = #{currencytypename,jdbcType=VARCHAR},
      priceWhetherTax = #{pricewhethertax,jdbcType=INTEGER},
      empid = #{empid,jdbcType=VARCHAR},
      empName = #{empname,jdbcType=VARCHAR},
      depid = #{depid,jdbcType=VARCHAR},
      depName = #{depname,jdbcType=VARCHAR},
      makeEmpName = #{makeempname,jdbcType=VARCHAR},
      AuditingEmpName = #{auditingempname,jdbcType=VARCHAR},
      checkstate = #{checkstate,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      enables = #{enables,jdbcType=INTEGER}
    where billId = #{billid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select billId, billDate, cliid, clishortname, cliplaceid, cliplace, exchRate, effectdate, 
    currencyTypeID, currencyTypeName, priceWhetherTax, empid, empName, depid, depName, 
    makeEmpName, AuditingEmpName, checkstate, remark, enables
    from sellquote_lsc
    where billId = #{billid,jdbcType=VARCHAR}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap" >
    select billId, billDate, cliid, clishortname, cliplaceid, cliplace, exchRate, effectdate, 
    currencyTypeID, currencyTypeName, priceWhetherTax, empid, empName, depid, depName, 
    makeEmpName, AuditingEmpName, checkstate, remark, enables
    from sellquote_lsc  where enables = 2
  </select>
</mapper>