<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.erp.liaoshuanchen.dao.SellorderLscMapper" >
  <resultMap id="BaseResultMap" type="com.example.erp.liaoshuanchen.pojo.SellorderLsc" >
    <id column="billId" property="billid" jdbcType="VARCHAR" />
    <result column="billDate" property="billdate" jdbcType="DATE" />
    <result column="cliid" property="cliid" jdbcType="VARCHAR" />
    <result column="clishortname" property="clishortname" jdbcType="VARCHAR" />
    <result column="cliplaceid" property="cliplaceid" jdbcType="VARCHAR" />
    <result column="cliplace" property="cliplace" jdbcType="VARCHAR" />
    <result column="orderstatus" property="orderstatus" jdbcType="INTEGER" />
    <result column="exchRate" property="exchrate" jdbcType="REAL" />
    <result column="effectdate" property="effectdate" jdbcType="DATE" />
    <result column="currencyTypeID" property="currencytypeid" jdbcType="VARCHAR" />
    <result column="currencyTypeName" property="currencytypename" jdbcType="VARCHAR" />
    <result column="sellOrderTypeID" property="sellordertypeid" jdbcType="VARCHAR" />
    <result column="sellOrderTypeName" property="sellordertypename" jdbcType="VARCHAR" />
    <result column="subordinateProjectID" property="subordinateprojectid" jdbcType="VARCHAR" />
    <result column="subordinateProjectName" property="subordinateprojectname" jdbcType="VARCHAR" />
    <result column="dutNo" property="dutno" jdbcType="VARCHAR" />
    <result column="dutToName" property="duttoname" jdbcType="VARCHAR" />
    <result column="gatherStyle" property="gatherstyle" jdbcType="INTEGER" />
    <result column="gatherDelay" property="gatherdelay" jdbcType="INTEGER" />
    <result column="prepayDay" property="prepayday" jdbcType="DATE" />
    <result column="accMonth" property="accmonth" jdbcType="DATE" />
    <result column="empid" property="empid" jdbcType="VARCHAR" />
    <result column="empName" property="empname" jdbcType="VARCHAR" />
    <result column="depid" property="depid" jdbcType="VARCHAR" />
    <result column="depName" property="depname" jdbcType="VARCHAR" />
    <result column="makeEmpName" property="makeempname" jdbcType="VARCHAR" />
    <result column="AuditingEmpName" property="auditingempname" jdbcType="VARCHAR" />
    <result column="checkstate" property="checkstate" jdbcType="INTEGER" />
    <result column="enables" property="enables" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="safetyone" property="safetyone" jdbcType="VARCHAR" />
    <result column="safetytwo" property="safetytwo" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sellorder_lsc
    where billId = #{billid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.erp.liaoshuanchen.pojo.SellorderLsc" useGeneratedKeys="true" keyProperty="billid" >
    insert into sellorder_lsc (billDate, cliid, clishortname, 
      cliplaceid, cliplace, orderstatus, 
      exchRate, effectdate, currencyTypeID, 
      currencyTypeName, sellOrderTypeID, sellOrderTypeName, 
      subordinateProjectID, subordinateProjectName, 
      dutNo, dutToName, gatherStyle, 
      gatherDelay, prepayDay, accMonth, 
      empid, empName, depid, 
      depName, makeEmpName, AuditingEmpName, 
      checkstate, enables, remark, 
      safetyone, safetytwo)
    values (#{billdate,jdbcType=DATE}, #{cliid,jdbcType=VARCHAR}, #{clishortname,jdbcType=VARCHAR}, 
      #{cliplaceid,jdbcType=VARCHAR}, #{cliplace,jdbcType=VARCHAR}, #{orderstatus,jdbcType=INTEGER}, 
      #{exchrate,jdbcType=REAL}, #{effectdate,jdbcType=DATE}, #{currencytypeid,jdbcType=VARCHAR}, 
      #{currencytypename,jdbcType=VARCHAR}, #{sellordertypeid,jdbcType=VARCHAR}, #{sellordertypename,jdbcType=VARCHAR}, 
      #{subordinateprojectid,jdbcType=VARCHAR}, #{subordinateprojectname,jdbcType=VARCHAR}, 
      #{dutno,jdbcType=VARCHAR}, #{duttoname,jdbcType=VARCHAR}, #{gatherstyle,jdbcType=INTEGER}, 
      #{gatherdelay,jdbcType=INTEGER}, #{prepayday,jdbcType=DATE}, #{accmonth,jdbcType=DATE}, 
      #{empid,jdbcType=VARCHAR}, #{empname,jdbcType=VARCHAR}, #{depid,jdbcType=VARCHAR}, 
      #{depname,jdbcType=VARCHAR}, #{makeempname,jdbcType=VARCHAR}, #{auditingempname,jdbcType=VARCHAR}, 
      #{checkstate,jdbcType=INTEGER}, #{enables,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{safetyone,jdbcType=VARCHAR}, #{safetytwo,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.erp.liaoshuanchen.pojo.SellorderLsc" >
    update sellorder_lsc
    set billDate = #{billdate,jdbcType=DATE},
      cliid = #{cliid,jdbcType=VARCHAR},
      clishortname = #{clishortname,jdbcType=VARCHAR},
      cliplaceid = #{cliplaceid,jdbcType=VARCHAR},
      cliplace = #{cliplace,jdbcType=VARCHAR},
      orderstatus = #{orderstatus,jdbcType=INTEGER},
      exchRate = #{exchrate,jdbcType=REAL},
      effectdate = #{effectdate,jdbcType=DATE},
      currencyTypeID = #{currencytypeid,jdbcType=VARCHAR},
      currencyTypeName = #{currencytypename,jdbcType=VARCHAR},
      sellOrderTypeID = #{sellordertypeid,jdbcType=VARCHAR},
      sellOrderTypeName = #{sellordertypename,jdbcType=VARCHAR},
      subordinateProjectID = #{subordinateprojectid,jdbcType=VARCHAR},
      subordinateProjectName = #{subordinateprojectname,jdbcType=VARCHAR},
      dutNo = #{dutno,jdbcType=VARCHAR},
      dutToName = #{duttoname,jdbcType=VARCHAR},
      gatherStyle = #{gatherstyle,jdbcType=INTEGER},
      gatherDelay = #{gatherdelay,jdbcType=INTEGER},
      prepayDay = #{prepayday,jdbcType=DATE},
      accMonth = #{accmonth,jdbcType=DATE},
      empid = #{empid,jdbcType=VARCHAR},
      empName = #{empname,jdbcType=VARCHAR},
      depid = #{depid,jdbcType=VARCHAR},
      depName = #{depname,jdbcType=VARCHAR},
      makeEmpName = #{makeempname,jdbcType=VARCHAR},
      AuditingEmpName = #{auditingempname,jdbcType=VARCHAR},
      checkstate = #{checkstate,jdbcType=INTEGER},
      enables = #{enables,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      safetyone = #{safetyone,jdbcType=VARCHAR},
      safetytwo = #{safetytwo,jdbcType=VARCHAR}
    where billId = #{billid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select billId, billDate, cliid, clishortname, cliplaceid, cliplace, orderstatus, 
    exchRate, effectdate, currencyTypeID, currencyTypeName, sellOrderTypeID, sellOrderTypeName, 
    subordinateProjectID, subordinateProjectName, dutNo, dutToName, gatherStyle, gatherDelay, 
    prepayDay, accMonth, empid, empName, depid, depName, makeEmpName, AuditingEmpName, 
    checkstate, enables, remark, safetyone, safetytwo
    from sellorder_lsc
    where billId = #{billid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select billId, billDate, cliid, clishortname, cliplaceid, cliplace, orderstatus, 
    exchRate, effectdate, currencyTypeID, currencyTypeName, sellOrderTypeID, sellOrderTypeName, 
    subordinateProjectID, subordinateProjectName, dutNo, dutToName, gatherStyle, gatherDelay, 
    prepayDay, accMonth, empid, empName, depid, depName, makeEmpName, AuditingEmpName, 
    checkstate, enables, remark, safetyone, safetytwo
    from sellorder_lsc
  </select>
</mapper>