<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.erp.liaoshuanchen.dao.StoragetypeLscMapper" >
  <resultMap id="BaseResultMap" type="com.example.erp.liaoshuanchen.pojo.StoragetypeLsc" >
    <id column="storageTypeNo" property="storagetypeno" jdbcType="VARCHAR" />
    <result column="storageTypeName" property="storagetypename" jdbcType="VARCHAR" />
    <result column="englishiName" property="englishiname" jdbcType="VARCHAR" />
    <result column="theGoodsSubject" property="thegoodssubject" jdbcType="VARCHAR" />
    <result column="subjectName" property="subjectname" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from storagetype_lsc
    where storageTypeNo = #{storagetypeno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.erp.liaoshuanchen.pojo.StoragetypeLsc" useGeneratedKeys="true" keyProperty="storagetypeno" >
    insert into storagetype_lsc (storageTypeName, englishiName, theGoodsSubject, 
      subjectName, remark)
    values (#{storagetypename,jdbcType=VARCHAR}, #{englishiname,jdbcType=VARCHAR}, #{thegoodssubject,jdbcType=VARCHAR}, 
      #{subjectname,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.erp.liaoshuanchen.pojo.StoragetypeLsc" >
    update storagetype_lsc
    set storageTypeName = #{storagetypename,jdbcType=VARCHAR},
      englishiName = #{englishiname,jdbcType=VARCHAR},
      theGoodsSubject = #{thegoodssubject,jdbcType=VARCHAR},
      subjectName = #{subjectname,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where storageTypeNo = #{storagetypeno,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select storageTypeNo, storageTypeName, englishiName, theGoodsSubject, subjectName, 
    remark
    from storagetype_lsc
    where storageTypeNo = #{storagetypeno,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select storageTypeNo, storageTypeName, englishiName, theGoodsSubject, subjectName, 
    remark
    from storagetype_lsc
  </select>
</mapper>