<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.erp.liaoshuanchen.dao.WarehouseMapper" >
  <resultMap id="BaseResultMap" type="com.example.erp.liaoshuanchen.pojo.Warehouse" >
    <id column="Warehouse_id" property="warehouseId" jdbcType="INTEGER" />
    <result column="Warehouse_name" property="warehouseName" jdbcType="VARCHAR" />
    <result column="Warehouse_abbreviation" property="warehouseAbbreviation" jdbcType="VARCHAR" />
    <result column="Warehouse_English" property="warehouseEnglish" jdbcType="VARCHAR" />
    <result column="Warehouse_Contact" property="warehouseContact" jdbcType="VARCHAR" />
    <result column="Warehouse_phone" property="warehousePhone" jdbcType="VARCHAR" />
    <result column="Warehouse_address" property="warehouseAddress" jdbcType="VARCHAR" />
    <result column="Warehouse_remark" property="warehouseRemark" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from warehouse
    where Warehouse_id = #{warehouseId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.erp.liaoshuanchen.pojo.Warehouse" useGeneratedKeys="true" keyProperty="warehouseId" >
    insert into warehouse (Warehouse_name, Warehouse_abbreviation, 
      Warehouse_English, Warehouse_Contact, Warehouse_phone, 
      Warehouse_address, Warehouse_remark)
    values (#{warehouseName,jdbcType=VARCHAR}, #{warehouseAbbreviation,jdbcType=VARCHAR}, 
      #{warehouseEnglish,jdbcType=VARCHAR}, #{warehouseContact,jdbcType=VARCHAR}, #{warehousePhone,jdbcType=VARCHAR}, 
      #{warehouseAddress,jdbcType=VARCHAR}, #{warehouseRemark,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.erp.liaoshuanchen.pojo.Warehouse" >
    update warehouse
    set Warehouse_name = #{warehouseName,jdbcType=VARCHAR},
      Warehouse_abbreviation = #{warehouseAbbreviation,jdbcType=VARCHAR},
      Warehouse_English = #{warehouseEnglish,jdbcType=VARCHAR},
      Warehouse_Contact = #{warehouseContact,jdbcType=VARCHAR},
      Warehouse_phone = #{warehousePhone,jdbcType=VARCHAR},
      Warehouse_address = #{warehouseAddress,jdbcType=VARCHAR},
      Warehouse_remark = #{warehouseRemark,jdbcType=VARCHAR}
    where Warehouse_id = #{warehouseId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select Warehouse_id, Warehouse_name, Warehouse_abbreviation, Warehouse_English, Warehouse_Contact, 
    Warehouse_phone, Warehouse_address, Warehouse_remark
    from warehouse
    where Warehouse_id = #{warehouseId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select Warehouse_id, Warehouse_name, Warehouse_abbreviation, Warehouse_English, Warehouse_Contact, 
    Warehouse_phone, Warehouse_address, Warehouse_remark
    from warehouse
  </select>
</mapper>