<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.erp.chenhan.dao.StockapplyMapper">
	<resultMap id="BaseResultMap" type="stockapply">
		<id column="BillNo" property="billno" jdbcType="VARCHAR" />
		<result column="BillDate" property="billdate" jdbcType="DATE" />
		<result column="BillStypeId" property="billstypeid" jdbcType="VARCHAR" />
		<result column="classname" property="classname" jdbcType="VARCHAR" />
		<result column="BillStatus" property="billstatus" jdbcType="INTEGER" />
		<result column="SalesName" property="salesname" jdbcType="VARCHAR" />
		<result column="SalesId" property="salesid" jdbcType="VARCHAR" />
		<result column="DepartName" property="departname" jdbcType="VARCHAR" />
		<result column="DepartId" property="departid" jdbcType="VARCHAR" />
		<result column="Maker" property="maker" jdbcType="VARCHAR" />
		<result column="Permitter" property="permitter" jdbcType="VARCHAR" />
		<result column="appauditing" property="appauditing" jdbcType="VARCHAR" />
		<result column="stockapplyname" property="stockapplyname"
			jdbcType="VARCHAR" />
		<result column="enables" property="enables" jdbcType="INTEGER" />
		<result column="safetyone" property="safetyone" jdbcType="VARCHAR" />
		<collection property="sds" ofType="stockapplydetails">
			<id column="BillNo" property="billno" jdbcType="VARCHAR" />
			<id column="RowId" property="rowid" jdbcType="INTEGER" />
			<result column="ProdId" property="prodid" jdbcType="VARCHAR" />
			<result column="ProdName" property="prodname" jdbcType="VARCHAR" />
			<result column="ProdSize" property="prodsize" jdbcType="VARCHAR" />
			<result column="StdUnitName" property="stdunitname" jdbcType="VARCHAR" />
			<result column="sQuantity" property="squantity" jdbcType="INTEGER" />
			<result column="sPrice" property="sprice" jdbcType="DOUBLE" />
			<result column="Amount" property="amount" jdbcType="DOUBLE" />
			<result column="LastestSprice" property="lastestsprice"
				jdbcType="DOUBLE" />
			<result column="LastestAmount" property="lastestamount"
				jdbcType="DOUBLE" />
			<result column="PreInDate" property="preindate" jdbcType="DATE" />
			<result column="SuggestPurDate" property="suggestpurdate"
				jdbcType="DATE" />
			<result column="QtyRemain" property="qtyremain" jdbcType="INTEGER" />
			<result column="TranType" property="trantype" jdbcType="VARCHAR" />
			<result column="FromNo" property="fromno" jdbcType="VARCHAR" />
			<result column="ItemRemark" property="itemremark" jdbcType="VARCHAR" />
			<result column="enables" property="enables" jdbcType="INTEGER" />
		</collection>
	</resultMap>
	<select id="queryStockapplyAndDeatails" resultMap="BaseResultMap">
		SELECT
		s.BillNo,
		s.BillDate,
		s.BillStypeId,
		s.BillStatus,
		s.SalesName,
		s.SalesId,
		s.DepartName,
		s.DepartId,
		s.Maker,
		s.Permitter,
		s.appauditing,
		s.stockapplyname,
		s.enables,
		s.safetyone,
		st.classname,
		sd.BillNo,
		sd.RowId,
		sd.ProdId,
		sd.ProdName,
		sd.ProdSize,
		sd.StdUnitName,
		sd.sQuantity,
		sd.sPrice,
		sd.Amount,
		sd.LastestSprice,
		sd.LastestAmount,
		sd.PreInDate,
		sd.SuggestPurDate,
		sd.QtyRemain,
		sd.TranType,
		sd.FromNo,
		sd.ItemRemark,
		sd.enables
		FROM
		stockapply AS s
		inner join stockapplytype
		st on s.BillStypeId = st.classid
		inner join stockapplydetails sd on
		s.BillNo = sd.BillNo
	</select>
</mapper>