<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.erp.quwenjia.dao.UserDao">
	<resultMap type="user" id="userMap">
		<id property="usersId" column="users_id" />
		<result column="user_name" jdbcType="VARCHAR" property="userName" />
		<result column="user_acction" jdbcType="VARCHAR" property="userAcction" />
		<result column="user_pwd" jdbcType="VARCHAR" property="userPwd" />
		<result column="user_imge" jdbcType="LONGVARCHAR" property="userImge" />
		<collection property="roleS" column="usersId" resultMap="roleMap" />
	</resultMap>
	<resultMap type="role" id="roleMap">
		<id column="role_id" jdbcType="INTEGER" property="roleId" />
		<result column="role_name" jdbcType="VARCHAR" property="roleName" />
		<result column="role_state" jdbcType="INTEGER" property="roleState" />
		<result column="role_date" jdbcType="DATE" property="roleDate" />
		<result column="role_code" jdbcType="VARCHAR" property="roleCode" />
		<result column="role_user" jdbcType="INTEGER" property="roleUser" />
		<collection property="permissions" column="role_id"
			resultMap="permissionMap" />
	</resultMap>

	<resultMap type="permission" id="permissionMap">
		<id column="permission_id" jdbcType="INTEGER" property="permissionId" />
		<result column="permission_name" jdbcType="VARCHAR" property="permissionName" />
		<result column="f_id" jdbcType="INTEGER" property="fId" />
		<result column="permission_icon" jdbcType="VARCHAR" property="permissionIcon" />
		<result column="permission_path" jdbcType="VARCHAR" property="permissionPath" />
		<result column="permission_bool" jdbcType="INTEGER" property="permissionBool" />
		<result column="permission_code" jdbcType="VARCHAR" property="permissionCode" />
		<association property="permissions" column="f_id" select="permission"></association>
	</resultMap>
	<select id="permission" resultMap="permissionMap">
		select * from permission where
		permission_id = #{0}
	</select>
	<select id="getuser" resultMap="userMap">
		SELECT
		`user`.users_id,
		`user`.user_name,
		`user`.user_imge,
		`user`.user_acction,
		`user`.user_pwd,
		roleanduser.id,
		roleanduser.users_id,
		roleanduser.roles_id,
		roleanduser.and_User,
		roleanduser.and_date,
		role.role_id,
		role.role_name,
		role.role_state,
		role.role_date,
		role.role_code,
		role.role_user,
		permissionandrolerelation.prid,
		permissionandrolerelation.Permissionid,
		permissionandrolerelation.Roleid,
		permission.permission_id,
		permission.permission_name,
		permission.f_id,
		permission.permission_icon,
		permission.permission_path,
		permission.permission_bool,
		permission.permission_code
		FROM
		`user`
		LEFT
		JOIN roleanduser ON `user`.users_id = roleanduser.users_id
		LEFT JOIN
		role ON role.role_id = roleanduser.roles_id
		LEFT JOIN
		permissionandrolerelation ON role.role_id =
		permissionandrolerelation.Roleid
		LEFT JOIN permission ON
		permissionandrolerelation.Permissionid =
		permission.permission_id
		WHERE
		`user`.user_acction = #{ac} AND
		`user`.user_pwd =#{pws}
	</select>
</mapper>