<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{findPeByType?typeid=1}">
		<h1>体检项目查询</h1>
		<input type="hidden" name=p value="1"> <input type="hidden"
			name=s value="3"> <input type="hidden" name=typeid> <select
			name='sel' th:field="*{type}">
			<option th:each="type : ${type}" th:value="${type.typeid}"
				th:text="${type.typename}">Credit card</option>
		</select> <input type="submit" value="查询">
		<table>
			<tr>
				<td>项目名称</td>
				<td>所属类别</td>
				<td>是否必查</td>
				<td>参考值</td>
				<td>价格</td>
				<td>说明</td>
				<td>操作</td>
			</tr>
			<tbody th:each="temp,iter:${PAGE_INFO.list}">
				<tr th:switch="${temp.typeid}">
					<td th:text="${temp.itemname}"></td>
					<td th:case="1">aa</td>
					<td th:case="2">bb</td>
					<td th:case="3">cc</td>
					<td th:text="${temp.necessary}"></td>
					<td th:text="${temp.ref}"></td>
					<td th:text="${temp.price}"></td>
					<td th:text="${temp.info}"></td>
					<td><a th:href="@{findPeById(itemid=${temp.itemid})}">修改</a></td>
				</tr>
			</tbody>
		</table>
	</form>
	<script src="/js/jquery-1.12.4.js"></script>
	<script type="text/javascript">
		$(function() {
			//alert("sss")
		})
		$("[name=sel]").change(function() {
			var zhi = $(this).val()
			$("[name=typeid]").val(zhi)
			//alert(zhi)
		})
	</script>
</body>
</html>